<p id="notice"><%= notice %></p>

<p>
  <b>Lesson Date:</b>
  <%= @lesson_learned.lessonDate %>
</p>

<p>
  <b>Project Reference:</b>
  <%= @lesson_learned.projectReference %>
</p>

<p>
  <b>Project Engineer:</b>
  <%= @lesson_learned.projectEngineer %>
</p>

<p>
  <b>Project Architect:</b>
  <%= @lesson_learned.projectArchitect %>
</p>

<p>
  <b>Project Owner:</b>
  <%= @lesson_learned.projectOwner %>
</p>

<p>
  <b>Division:</b>
  <%= @lesson_learned.division %>
</p>

<p>
  <b>Input:</b>
  <pre><%= @lesson_learned.input %></pre>
</p>


<%= link_to 'Edit', edit_lesson_learned_path(@lesson_learned) %> |
<%= link_to 'Back', lesson_learneds_path %> |
<%= link_to 'Home', root_path %>
